@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: "primary";
  src: url("./assets/font/primary-font.woff2");
}

@font-face {
  font-family: "secondary";
  src: url("./assets/font/secondary-font.woff2");
}

body {
  margin: 0;
  padding: 0;
}
#gradient-canvas {
  --gradient-color-1: #ffcb57;
  --gradient-color-2: #90e0ff;
  --gradient-color-3: #a960ee;
  --gradient-color-4: #ff333d;
}

.header {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 52%, 0 80%, 0 53%);
}

.cliped {
  /* clip-path: polygon(100% 25%, 100% 33%, 100% 76%, 100% 76%, 0 100%, 0 48%); */
  clip-path: polygon(
    100% 27%,
    100% 30%,
    100% 23%,
    100% 70%,
    100% 67%,
    100% 86%,
    0 100%,
    0 54%,
    0 12%,
    100% 1%
  );
}

.blobal-scale-cliped {
  clip-path: polygon(
    100% 0,
    100% 0,
    100% 60%,
    100% 100%,
    0 100%,
    0 18%,
    57% 8%
  );
}
