@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: "primary";
  src: url("./assets/font/primary-font.woff2");
}

@font-face {
  font-family: "secondary";
  src: url("./assets/font/secondary-font.woff2");
}



.header {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 52%, 0 80%, 0 53%);
}

